#<center>NER (Named Entity Recognition)</center>

ReferÃªncias:

* <i>https://www.youtube.com/watch?v=2XUhKpH0p4M</i>
* <i>https://github.com/codebasics/nlp-tutorials/blob/main/8_NER/nlp_tutorial_NER.ipynb</i>

In [ ]:
import numpy as np
import pandas as pd
import spacy
from spacy import displacy
# from google.colab import drive

In [ ]:
# try:
#   df = pd.read_csv('/content/drive/MyDrive/Datasets/')
# except:
#   drive.mount('/content/drive')

In [ ]:
nlp = spacy.load("en_core_web_sm")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [ ]:
doc = nlp("Tesla Inc is going to acquire Twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", spacy.explain(ent.label_))

Tesla Inc  |  ORG  |  Companies, agencies, institutions, etc.
Twitter  |  PRODUCT  |  Objects, vehicles, foods, etc. (not services)
$45 billion  |  MONEY  |  Monetary values, including unit

In [ ]:
displacy.render(doc, style="ent", jupyter=True)

In [ ]:
doc2 = nlp('Tesla was incorporated in July 2003 by Martin Eberhard and Marc Tarpenning as Tesla Motors. The company\'s name is a tribute to inventor and electrical engineer Nikola Tesla ')

displacy.render(doc2, style="ent", jupyter=True)

In [ ]:
for ent in nlp.pipe_labels['ner']:
    print(ent, '\t| ' if len(ent) > 6 else '\t\t| ', spacy.explain(ent))

CARDINAL 	|  Numerals that do not fall under another type
DATE 		|  Absolute or relative dates or periods
EVENT 		|  Named hurricanes, battles, wars, sports events, etc.
FAC 		|  Buildings, airports, highways, bridges, etc.
GPE 		|  Countries, cities, states
LANGUAGE 	|  Any named language
LAW 		|  Named documents made into laws.
LOC 		|  Non-GPE locations, mountain ranges, bodies of water
MONEY 		|  Monetary values, including unit
NORP 		|  Nationalities or religious or political groups
ORDINAL 	|  "first", "second", etc.
ORG 		|  Companies, agencies, institutions, etc.
PERCENT 	|  Percentage, including "%"
PERSON 		|  People, including fictional
PRODUCT 	|  Objects, vehicles, foods, etc. (not services)
QUANTITY 	|  Measurements, as of weight or distance
TIME 		|  Times smaller than a day
WORK_OF_ART 	|  Titles of books, songs, etc.

In [ ]:
doc = nlp("Michael Bloomberg founded Bloomberg in 1982")
for ent in doc.ents:
    print(ent.text, "|", ent.label_, "|", spacy.explain(ent.label_))

Michael Bloomberg | PERSON | People, including fictional
Bloomberg | PERSON | People, including fictional
1982 | DATE | Absolute or relative dates or periods

In [ ]:
doc = nlp("Tesla Inc is going to acquire Twitter Inc for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_, " | ", ent.start_char, "|", ent.end_char)

Tesla Inc  |  ORG  |  0 | 9
Twitter Inc  |  ORG  |  30 | 41
$45 billion  |  MONEY  |  46 | 57

In [ ]:
doc = nlp("Tesla is going to acquire Twitter for $45 billion")
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  PRODUCT
$45 billion  |  MONEY

In [ ]:
s = doc[2:5]
s

going to acquire

In [ ]:
type(s)

spacy.tokens.span.Span

In [ ]:
from spacy.tokens import Span

s1 = Span(doc, 0, 1, label="ORG")
s2 = Span(doc, 5, 6, label="ORG")

doc.set_ents([s1, s2], default="unmodified")

In [ ]:
for ent in doc.ents:
    print(ent.text, " | ", ent.label_)

Tesla  |  ORG
Twitter  |  ORG
$45 billion  |  MONEY

In [ ]:
displacy.render(doc, style="ent", jupyter=True)